body{
    background-color: #fefae0;
}
p,ol,ul,strong,table{
    color: #d4a373;
}
h1,h2{
    color: #a2d2ff;
}
nav a{
    color: #ffafcc;
    padding: 10px;
}
nav a:hover {
    background-color: #ffe5ec;
}
nav{
    margin-bottom: 30px;
}
link{
    color: #e9edc9;
}