body{
    background-color: #dedbd2;
}
p,ol,ul,strong,table,form{
    color: #005f73;
}
h1,h2{
    color: #4a5759;
}
.evenrow{
    background-color:#e9edc9;
}
nav a{
    color: #b0c4b1;
    background-color: #e9edc9;
}
nav a:hover {
    background-color: #4a5759;
}
nav{
    padding: 10px;
    margin-bottom: 30px;
    font-size: 1.2em;
}
a{
    color: #0a9396;
}
