body{
    background-color: #dedbd2;
}
p,ol,ul,strong,table,form{
    color: #005f73;
}
h1,h2,h3{
    color: #4a5759;
}
.evenrow{
    background-color:#e9edc9;
}
nav a{
    color: #ffffff;
    background-color: #4a5759;
}
nav a:hover {
    background-color: #e9edc9;
}
nav{
    padding: 10px;
    margin-bottom: 30px;
    font-size: 1.2em;
}
span{
    color: rgb(254, 254, 254);
}
a{
    color: #0a9396;
}
nav{background-color: #4a5759;border-radius: 1em;}
.row1, .row2{display: flex;
    padding: 10px;
    margin: 20px;
}
.column1 , .column2{margin: 10px;}
.column3 , .column4{margin: 20px;}
.row1{background-color: #f8f8f8;border-radius: 1em;}
.row2 {background-color: #f8f8f8;border-radius: 1em;}
.img1, .img2, .img3, .img4, .img5{
    width: 80px;
    height: 80px;
  }
.flexbox2{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
  .skills{
    display: flex;
    flex: 3;
    justify-content: space-between;
  }
aside{
    background-color:#4a5759;
    border-radius: 1em;
    padding: 20px
}
aside p{
    color: #b0c4b1;
}
aside h2{
    color: #b0c4b1;
}

.other{
    float: right;
}
.skill{
    margin: 60px;
}
